Java/Config Module/C#_Simulator/RobotSimulator_AdHoc/SilverlightTest/Service References/sonarService/sonarService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sonarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.2.110:8001/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.2.110:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.110:8001/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://192.168.2.110:8001/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISonarService_getSonarData_InputMessage">
    <wsdl:part name="parameters" element="tns:getSonarData" />
  </wsdl:message>
  <wsdl:message name="ISonarService_getSonarData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSonarDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetSilverlightPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSilverlightPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetSilverlightPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSilverlightPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetFlashPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlashPolicy" />
  </wsdl:message>
  <wsdl:message name="IPolicyRetriever_GetFlashPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlashPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="ISonarService">
    <wsdl:operation name="getSonarData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISonarService/getSonarData" message="tns:ISonarService_getSonarData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISonarService/getSonarDataResponse" message="tns:ISonarService_getSonarData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPolicyRetriever">
    <wsdl:operation name="GetSilverlightPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyRetriever/GetSilverlightPolicy" message="tns:IPolicyRetriever_GetSilverlightPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyRetriever/GetSilverlightPolicyResponse" message="tns:IPolicyRetriever_GetSilverlightPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlashPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IPolicyRetriever/GetFlashPolicy" message="tns:IPolicyRetriever_GetFlashPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPolicyRetriever/GetFlashPolicyResponse" message="tns:IPolicyRetriever_GetFlashPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISonarService" type="tns:ISonarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSonarData">
      <soap:operation soapAction="http://tempuri.org/ISonarService/getSonarData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sonarService">
    <wsdl:port name="BasicHttpBinding_ISonarService" binding="tns:BasicHttpBinding_ISonarService">
      <soap:address location="http://192.168.2.110:8001/sonarService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>