Java/Config Module/C#_Simulator/RobotSimulator_AdHoc/SilverlightTest/Service References/motorService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.2.110:8000/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.2.110:8000/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="setMotorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="data" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setMotorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setMotorDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="motorCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="velocity" type="xs:int" />
        <xs:element minOccurs="0" name="degrees" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="motorCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="motorCommandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSerialNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="l" type="xs:int" />
        <xs:element minOccurs="0" name="r" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSerialNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSerialNumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBearing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBearingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBearingResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSilverlightPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="GetSilverlightPolicyResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlashPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlashPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetFlashPolicyResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>