Java/Config Module/C#_Simulator/RobotSimulator_AdHoc/RemoteApplication/Service References/robotSimulator/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58210/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58210/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58210/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getMotion_InputMessage">
    <wsdl:part name="parameters" element="tns:getMotion" />
  </wsdl:message>
  <wsdl:message name="IService_getMotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMotionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_setMotion_InputMessage">
    <wsdl:part name="parameters" element="tns:setMotion" />
  </wsdl:message>
  <wsdl:message name="IService_setMotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:setMotionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getSensorUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:getSensorUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_getSensorUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSensorUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateSensor_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSensor" />
  </wsdl:message>
  <wsdl:message name="IService_updateSensor_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSensorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_receiveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:receiveMessage" />
  </wsdl:message>
  <wsdl:message name="IService_receiveMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:receiveMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getMotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getMotion" message="tns:IService_getMotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getMotionResponse" message="tns:IService_getMotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setMotion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/setMotion" message="tns:IService_setMotion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/setMotionResponse" message="tns:IService_setMotion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSensorUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getSensorUpdate" message="tns:IService_getSensorUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getSensorUpdateResponse" message="tns:IService_getSensorUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSensor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateSensor" message="tns:IService_updateSensor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateSensorResponse" message="tns:IService_updateSensor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/sendMessage" message="tns:IService_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/sendMessageResponse" message="tns:IService_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/receiveMessage" message="tns:IService_receiveMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/receiveMessageResponse" message="tns:IService_receiveMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMotion">
      <soap:operation soapAction="http://tempuri.org/IService/getMotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMotion">
      <soap:operation soapAction="http://tempuri.org/IService/setMotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSensorUpdate">
      <soap:operation soapAction="http://tempuri.org/IService/getSensorUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSensor">
      <soap:operation soapAction="http://tempuri.org/IService/updateSensor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IService/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <soap:operation soapAction="http://tempuri.org/IService/receiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58210/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>